html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  min-height: 100vh;
}

option {
  background-color: var(--fondo-gris-oscuro);
}

body {
  background-color: var(--fondo-negro);
  color: var(--blanco);
  font-family: 'Inter', sans-serif;
}

h1 {
  color: var(--blanco);
}

h4 {
  margin: 0;
  margin-top: 20px;
  display: flex;
  align-items: start;
  margin-right: auto;
}

p {
  color: var(--blanco);
  text-align: justify;
}

button {
  margin: auto;
  background: var(--morado-oscuro);
  color: var(--blanco);
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin-top: 10px;
}
